.allquestion {

    border: 2px solid aqua;
    border-radius: 20px;
    background-color: gray;
    margin: 20px;
    padding: 15px;

}

.allOptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.questions {
    display: flex;
    gap: 5px;

    justify-content: space-between;

}

.questions button {
    border: 0;
    height: 40px;
    width: 40px;
    background-color: aqua;
    color: black;

    border-radius: 50%;
}

.option {


    background-color: aqua;

    border-radius: 20px;
    color: black;
    margin: 10px;
    padding: 10px;
}


@media screen and (max-width:600px) {
    .allOptions {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}