.quizes img {
    background-color: gray;
    height: 200px;
    width: 200px;
}

.quize-details {
    display: flex;
    justify-content: center;
}

.quizes {
    /* display: flex;
    width: 100%;
    text-align: center;
    align-items: center; */
}