.topics-header {
    text-align: center;
}

.btn-topic {
    border: 0;
    background-color: aqua;
    padding: 2px;
    color: black;
    border-radius: 8px;
}

.btn-topic a {
    color: black;
}

.btn-topic a {
    text-decoration: none;


}

.singletopic {
    width: 70%;

}

.topic {
    height: 60px;
    border: 2px solid rgb(76, 78, 78);

    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 23px 21px 9px -16px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 23px 21px 9px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 23px 21px 9px -16px rgba(0, 0, 0, 0.75);
}

.topic h5 {
    display: inline;
    padding: 10px;
}

.topic h3 {
    display: inline;
    padding: 10px;
}

@media screen and (max-width:800px) {
    .topic h5 {
        display: block;
        padding: 10px;
    }

    .topic h3 {
        display: block;
        padding: 10px;
    }

    .topic {
        height: 200px;

    }
}