.home-details {
    text-align: center;
    padding: 10px;
    background-image: url('../../../public/ready-quiz-neon-sign-brick-wall-background-glowing-lettering-ready-quiz-neon-sign-brick-wall-background-219006686.jpg');
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    color: white;
    background-repeat: no-repeat;

}

.home-details h1 {
    font-weight: 900;
}

.home-details p {
    font-weight: 900;
}